[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gensim = "*"
marshmallow = "*"
Flask-Cors = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
jedi = "*"
rope = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
