[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gensim = "*"
marshmallow = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
