[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python manage.py run -h 0.0.0.0"

[packages]
Flask = "*"
gensim = "*"
marshmallow = "*"
Flask-Cors = "*"
flask-mongoengine = "*"
gunicorn = "*"
sphinx = "*"
mongomock = "*"
pytest = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
jedi = "*"
rope = "*"
mongomock = "*"
pylint-mongoengine = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
